
<div class="row mb-3">
    <div class="col-8">
        <input type='text' ng-model="employeeList.searchName">
        <button type="button" class="btn btn-outline-primary ml-2" ng-click='employeeList.getEmployees()'>Search</button>
    </div>
    <div class="col d-flex justify-content-end">
        <a href="/employeeForm">
            <button type="button" class="btn btn-outline-success">Add Employee</button>
        </a>
    </div>
</div>


<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>chief name</th>
        <th>organization name</th>
        <th>#</th>
    </tr>
    <tr ng-repeat='emp in employeeList.employees'>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.chiefName}}</td>
        <td>{{emp.organizationName}}</td>
        <td>
            <a href=/employeeForm/{{emp.id}}>
                <button type="button" class="btn-sm btn-outline-primary">
                    edit
                </button>
            </a>
        </td>
    </tr>
</table>

<ul class="d-flex justify-content-center" uib-pagination items-per-page='employeeList.pageSize'
    total-items="employeeList.employeesTotal"
    ng-model="employeeList.currentPage"
    ng-change="employeeList.getEmployees()"
    max-size="employeeList.maxSize"
    boundary-links="true">
</ul>


