<script type="text/ng-template" id="tree">
<!--    <div ng-click='tree.loadChildElements(element)'>{{ element.name }}</div>-->
    <div class="mb-2" ng-click='tree.loadChildElements(element)'>
        <button type="button" class="btn btn-outline-info" ng-click="isCollapsed = !isCollapsed">{{ element.name }}</button>
    </div>
    <ul ng-if="element.childs">
        <li ng-repeat="element in element.childs" ng-include="'tree'">
        </li>
    </ul>
</script>

<ul>
    <li ng-repeat="element in tree.elements" ng-include="'tree'"></li>
</ul>


